<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filmes - Lista</title>
</head>
<body>
    <h1>Filmes</h1>
    <h2>Lista de filmes</h2>
    <a href="/filme/form">Cadastrar novo</a> <br />
    <table>
        <thead>
            <th>ID</th>
            <th>Nome</th>
            <th>Nome do Diretor</th>
            <th>Gênero</th>
        </thead>
        <tbody>
            <tr th:each="filme: ${filmes}">
                <td th:text="${filme.id}"></td>
                <td th:text="${filme.nome}"></td>
                <td th:text="${filme.nomeDiretor}"></td>
                <td th:text="${filme.genero}"></td>
                <td>
                    <a th:href="@{'/filme/editar/'+${filme.id}}">Editar</a>
                    <a th:href="@{'/filme/deletar/'+${filme.id}}">Deletar</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>