<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes - Lista</title>
</head>
<body>
    <h1>Lista de clientes</h1>
    <a href="/cliente/cadastrar">Cadastrar</a>
    <table>
        <thead>
            <th>ID</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Idade</th>
            <th></th>
        </thead>
        <tbody>
            <tr th:each="cliente: ${clientes}">
                <td th:text="${cliente.id}"></td>
                <td th:text="${cliente.nome}"></td>
                <td th:text="${cliente.cpf}"></td>
                <td th:text="${cliente.idade}"></td>
                <td>
                    <a th:href="@{'/cliente/editar/'+${cliente.id}}">Editar</a>
                    <a th:href="@{'/cliente/excluir/'+${cliente.id}}">Excluir</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>